/* element styles */
ul {
  list-style: none;
}

/* header styles */
.gradient-custom {
    background: linear-gradient(to right, rgba(168, 182, 240, 0.5), rgba(44, 11, 77, 0.5))
}


/* custom button styles */
.myButton {
  border-radius: 8px;
  border: none;
  width: 100%;
}

.searchButton {
  color: rgba(225, 224, 224, 0.812);
  background-color: rgb(105, 156, 233);
  margin-bottom: 5px;
}

.cityButton {
  color: black;
  background-color: grey;
  font-weight: 500;
}


/* bottom border for the form - seperates the from from the saved cities  */
.myBorder {
  border-bottom: 2px solid grey;
}

/* cards for the 5day forecast */
.mycard {
  width: 18%;
  background-color: rgb(12, 7, 57);
  margin: 1%;
  color: white;
}

/*Still need to add breakpoints */

